.counter{
    height: 50rem;
    width: 30rem;
    background: #EEF1FF;
    border-radius: 2rem;
}
.counter__number{
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}

.counter__buttons{
height: 20%;
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;

}

.counter__button{

padding: 1rem 2rem;
border: none;
font-size: 100%;
border-radius: 1rem;

}

.counter__button:hover{
    background:green;
}
.counter__value{
    font-family: sans-serif;
    font-size: 400%;
    font-weight: 400;
}